:root {

}



@layer dark-section {
    .dark-section {
        background-color: var(--enjanga-clr-dark-section-bg);

        h1, h2, h3, h4, h5, h6 {
            color: var(--enjanga-clr-dark-section-h);
        }

        p, th, td, ul li, ol li {
            color: var(--enjanga-clr-dark-section-txt);
        }


        .table-style1 {
            thead th {
                color: var(--enjanga-clr-dark-section-accent);
            }
        }
    }
}


