:root {
}

// has-icon
@layer base {
  blockquote::before,
  .halton-share__text.icon-share::after,
  .halton-collapse .panel-heading a::after,
  .list-icon-check li::before,
  .alert-icon::before,
  .card-icon::before {
    position: absolute;
    font-family: bootstrap-icons !important;
    display: block;
  }

  .has-icon::after,
  .has-icon::before {
    position: relative;
    font-family: bootstrap-icons !important;
    display: block;
  }

  .list-icon-check {
    list-style: none;
    li::before {
      left: -16px;
      content: "\F633";
      color: var(--halton-clr-accent);
    }
    li {
      position: relative;
      padding-left: 13px;
    }
  }

  .icon-big {
    &::before,
    &::after {
      font-size: 30px;
    }
  }

  .icon-bigger {
    &::before,
    &::after {
      font-size: 60px;
    }
  }




  /**
   * Description 
   * * Important ...
   * ! Caution ...
   * ? Question ...
  */

  /*
    TODO: Sample todo 1 ...
  */
  /*
    TODO: Sample todo 2 ...
  */
  /*
    TODO: Sample todo 3 ...
  */
  .has-icon {
    // border: 4px solid turquoise;
    position: relative;

    &.icon-before::before,
    &.icon-after::after {
      // position: absolute;
      display: inline-block;
    }

    &.icon-before::before {
      left: 0;
      // border: 1px solid red;
    }
    &.icon-after {
      // border: 1px solid red;
    }
  }


}

