:root {

}


@layer navigation {
    .navbar {
        // border: 5px solid orange;
        margin-bottom: 15px;

        
        .btn-hire {
            background-color: black;
        }
    }

    .navbar.navbar-expand-md {
        background-color: var(--enjanga-clr-body-bg);
    }
}

