/**
 * INITIALIZATION
 * ---------------------------------------------
*/
// Font type
* {
    // Typography
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    // Smoorh transition
    transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}


h1 {
    font-size: 54px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
}

h3 {
    font-size: 28px;
    line-height: 32px;
}


/**
 * Color
 * ---------------------------------------------
*/
body {
    background-color: var(--enjanga-clr-body-bg);
}