:root {
    --enjanga-clr-body-bg: #E9E4DE;
    --enjanga-clr-body-h:#1C1C20;
    --enjanga-clr-body-txt: #434343;
    --enjanga-clr-accent: #D65A00;

    --enjanga-clr-dark-section-bg: #1C1C20;
    --enjanga-clr-dark-section-h: #E9E4DE;
    --enjanga-clr-dark-section-accent: #FFA800;
    --enjanga-clr-dark-section-txt: #D1CDC7;
}